@font-face {
  font-family: "Dance Partner";
  src: url("../fonts/dance-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Evolventa";
  src: url("../fonts/Evolventa-Regular.woff2") format("woff2");
  font-display: swap;
}

h1,
h2 {
  font-family: "Dance Partner";
  text-align: center;
}

p {
  font-family: "Evolventa";
  text-align: center;
  font-size: 40px;
  margin: 20px 0;
}

.preview h1,
.preview h2 {
  font-size: 90px;
}

.preview,
.info {
  height: 1748px;
  width: 1240px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.info {
  padding: 70px;
}

.info h2 {
  font-size: 70px;
}

.image_wr {
  height: 70%;
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.couple_img {
  width: 100%;
  border-radius: 5px;
}

.wed-names {
  margin-top: 10px;
  width: 70%;
  display: grid;
  flex-direction: column;
}

.groom_name {
  justify-self: flex-start;
}

.bride_name {
  justify-self: flex-end;
}

#img1,
#img2,
#img3,
#img4 {
  position: absolute;
}

#img3 {
  width: 800px;
  z-index: -1;
  right: -22rem;
  bottom: -18rem;
}

#img4 {
  width: 750px;
  z-index: -1;
  left: -11rem;
  bottom: -23rem;
}

#img1 {
  width: 650px;
  z-index: 1;
  left: -16rem;
  top: -8rem;
}

#img2 {
  width: 600px;
  z-index: 1;
  right: -15rem;
  bottom: 18rem;
}

.qr_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 30px;
}

.qr_info p {
  font-size: 28px;
  text-align: justify;
}

.qr_image {
  width: 150px;
  height: 150px;
}

.ending {
  margin-top: auto;
}
