@font-face {
  font-family: "Dance";
  src: url("../fonts/dance-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Evolventa";
  src: url("../fonts/Evolventa-Regular.woff2") format("woff2");
}

h1,
h2 {
  font-family: "Dance";
  text-align: center;
  color: #dbb991;
}

p {
  font-family: "Evolventa";
  text-align: center;
  font-size: 37px;
  margin: 20px 0;
}

.preview h1,
.preview h2 {
  font-size: 120px;
  line-height: 120px;
}

.preview,
.info {
  height: 1748px;
  width: 1240px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  overflow: hidden;
  background: url("../img/template-5/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1c1c1c;
}
.info {
  padding: 70px;
}

.info h2 {
  font-size: 85px;
  color: #dbb991;
}

.image_wr {
  height: 60%;
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.couple_img {
  width: 100%;
  border-radius: 5px;
}

.wed-names {
  margin-top: 10px;
  width: 70%;
  display: grid;
  flex-direction: column;
}

.groom_name {
  justify-self: flex-start;
}

.bride_name {
  justify-self: flex-end;
}

#img1,
#img2 {
  position: absolute;
}

#img1 {
  width: 650px;
  z-index: 1;
  right: -16rem;
  top: -8rem;
  transform: scaleY(-1);
}

#img2 {
  width: 700px;
  z-index: 1;
  left: -11rem;
  bottom: -6rem;
}

.qr_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 30px;
}

.qr_info p {
  font-size: 28px;
  text-align: justify;
}

.qr_image {
  width: 150px;
  height: 150px;
}

.ending {
  margin-top: auto;
}
