// ============ main =============
@font-face {
  font-family: "Dance";
  src: url("../fonts/dance-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Evolventa";
  src: url("../fonts/Evolventa-Regular.woff2") format("woff2");
  font-display: swap;
}

$accent-font: "Dance";
$main-font: "Evolventa";
$detailsColor: #dbb991;

main {
  width: 100%;
  overflow: hidden;
  font-family: $main-font;
  background-color: #1c1c1c;
  position: relative;
  z-index: 0;
}

.wrapper {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
}

section {
  margin: 20px 0;
}

h1 {
  font-family: "Dance";
  font-size: 45px;
  line-height: 70px;
  color: $detailsColor;
}

h2,
h3 {
  font-family: "Dance";
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 20px;
  text-align: center;
  color: #dbb991;
}

p,
a {
  font-family: "Evolventa";
  font-size: 16px;
  margin: 15px 0;
  text-align: center;
  color: #000;
}

@import "general";

.background {
  position: fixed;
  z-index: -100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
}

.preview {
  height: 100svh;
  position: relative;
  padding-top: 20px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .couple_img {
    max-width: 95%;
    max-height: 70%;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 3px;
    margin: 0 auto;
    display: block;
  }

  .wed-names {
    margin-top: 20px;
    text-align: center;
    display: grid;
    flex-direction: column;
    width: 100%;
    z-index: 10;

    .groom_name {
      justify-self: flex-start;
    }

    .and {
      margin-top: -15px;
    }

    .bride_name {
      justify-self: flex-end;
    }
  }

  &__leaf1 {
    position: absolute;
    bottom: -1rem;
    width: 230px;
    left: -5rem;
    z-index: -1;
  }

  &__leaf2 {
    position: absolute;
    top: 0rem;
    transform: scaleY(-1) rotate(24deg);
    width: 140px;
    right: -5rem;
    z-index: 1;
  }
}

// =========== Info =============
.info {
  opacity: 0;
}

.leaf01 {
  position: absolute;
  left: -7rem;
  width: 140px;
  bottom: 0;
  transform: scaleX(-1) rotate(60deg);
}

.leaf02 {
  position: absolute;
  width: 180px;
  right: -4.5rem;
  transform: rotate("322deg") rotateX("312deg");
  top: 4rem;
}
.leaf03 {
  position: absolute;
  width: 180px;
  left: -4rem;
  bottom: -6rem;
  transform: scaleX(-1) rotate(270deg);
  z-index: -1;
}

.hashtag_span {
  color: #dbb991;
  font-size: 31px;
}

.leaf04 {
  position: absolute;
  width: 180px;
  z-index: -1;
  right: -3rem;
  bottom: -8rem;
}

.leaf05 {
  position: absolute;
  width: 150px;
  z-index: -5;
  right: -5rem;
  bottom: -2rem;
  transform: rotate(117deg) scaleX(1.5);
}

.leaf06 {
  position: absolute;
  width: 180px;
  z-index: -11;
  top: 1rem;
  left: -5rem;
  transform: scaleX(1.4);
}

.leaf07 {
  position: absolute;
  bottom: -7rem;
  right: -4rem;
  width: 200px;
  z-index: -1;
}

.leaf08 {
  position: absolute;
  width: 220px;
  bottom: -10rem;
  left: -4rem;
  transform: scaleX(-1);
  z-index: -1;
}

@media screen and (min-width: 700px) {
  .wrapper {
    // background-color: #fff9f9;
    overflow: hidden;
    // z-index: ;
    padding: 0 20px;
  }

  main {
    background-color: #1c1c1c;
    position: relative;
    z-index: 0;
  }
}
