// ============ main =============
@font-face {
  font-family: "Evolventa";
  src: url("../fonts/Evolventa-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Alana";
  src: url("../fonts/Storytella.woff2") format("woff2");
}

$accent-font: "Alana";
$main-font: "Evolventa";
$detailsColor: #676768;

main {
  width: 100%;
  overflow: hidden;
  font-family: $main-font;
  background-color: #f9f5f2;
  position: relative;
  z-index: 0;
}

.wrapper {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
}

section {
  margin: 20px 0;
}

h1 {
  font-family: "Alana";
  font-size: 50px;
  color: #3d3b3a;
  line-height: 50px;
  letter-spacing: 3px;
  transform: rotate(-3deg);
}

h2,
h3 {
  font-family: "Alana";
  font-size: 35px;
  line-height: 50px;
  margin-bottom: 20px;
  text-align: center;
  color: #3d3b3a;
}

p,
a {
  font-family: "Evolventa";
  font-size: 16px;
  margin: 15px 0;
  text-align: center;
  color: #000;
}

@import "general";

.preview {
  height: 100svh;
  position: relative;
  opacity: 0;

  .heart {
    position: absolute;
    width: 70px;
    z-index: 1;
    bottom: 4rem;
    left: -1rem;
    opacity: 0;
  }

  .inner {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 30px auto;
    padding: 10px;
    position: relative;

    .topw {
      position: absolute;
      height: 1px;
      width: 36%;
      background: #2b2b2b;
      top: 0;
      left: 0;
    }

    .toph {
      position: absolute;
      height: 34%;
      width: 1px;
      background: #2b2b2b;
      top: 0;
      left: 0;
    }

    .bottomh {
      position: absolute;
      height: 34%;
      width: 1px;
      background: #2b2b2b;
      bottom: 0;
      right: 0;
    }

    .bottomw {
      position: absolute;
      width: 36%;
      height: 1px;
      background: #2b2b2b;
      bottom: 0;
      right: 0;
    }
  }

  .couple_img {
    max-width: 90%;
    max-height: 60%;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 3px;
  }

  .wed-names {
    text-align: center;
    display: grid;
    flex-direction: column;
    width: 100%;
    z-index: 10;

    .groom_name {
      justify-self: flex-start;
    }

    .bride_name {
      justify-self: flex-end;
    }
  }
}

// =========== Info =============
.info {
  opacity: 0;
}

.note-line {
  height: 1px;
  width: 150px;
  background-color: $detailsColor;
  margin: 30px auto 0 auto;
  opacity: 1;
}

.end-line {
  height: 1px;
  width: 60%;
  background: #2b2b2b;
  margin: 30px auto;
  opacity: 1;
}

.ps {
  position: relative;

  .heart01 {
    position: absolute;
    bottom: -5rem;
    left: 3rem;
    z-index: -1;
    width: 50px;
    transform: rotate(31deg);
    opacity: 0.8;
  }

  .heart02 {
    position: absolute;
    width: 100px;
    left: -2rem;
    opacity: 0.8;
    bottom: -5rem;
  }
}

@media screen and (min-width: 700px) {
  .wrapper {
    overflow: hidden;
    padding: 0 20px;
  }

  main {
    background-color: rgb(255, 248, 253);
    position: relative;
    z-index: 0;
  }
}
