@font-face {
  font-family: "Dance";
  src: url("../fonts/dance-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Evolventa";
  src: url("../fonts/Evolventa-Regular.woff2") format("woff2");
  font-display: swap;
}
main {
  width: 100%;
  overflow: hidden;
  font-family: "Evolventa";
  background-color: #1c1c1c;
  position: relative;
  z-index: 0;
}

.wrapper {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
}

section {
  margin: 20px 0;
}

h1 {
  font-family: "Dance";
  font-size: 45px;
  line-height: 70px;
  color: #dbb991;
}

h2,
h3 {
  font-family: "Dance";
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 20px;
  text-align: center;
  color: #dbb991;
}

p,
a {
  font-family: "Evolventa";
  font-size: 16px;
  margin: 15px 0;
  text-align: center;
  color: #000;
}

.programm {
  margin-top: 40px;
}
.programm_title {
  margin-bottom: 20px;
}

.timeline-container {
  position: relative;
}

.timeline-part {
  position: relative;
  min-height: 150px;
}

.timeline-line {
  position: absolute;
  z-index: 2;
  left: 50%;
  width: 1px;
  top: 0px;
  bottom: 0px;
  display: none;
  background-color: #dbb991;
}
.timeline-line::before, .timeline-line::after {
  position: absolute;
  display: block;
  content: " ";
  height: 7px;
  width: 7px;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #dbb991;
}
.timeline-line::after {
  bottom: 0px;
}

.line-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: black;
}

.line-section:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.timeline-content {
  font-family: "Evolventa";
  font-size: 14px;
  width: 40%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline-icon {
  display: block;
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
}

.timeline-number {
  font-size: 1.2rem;
}

.dresscode {
  margin-top: 80px;
  position: relative;
}
.dresscode_colors {
  height: 20px;
  width: 100%;
}

.hashtag {
  margin-top: 80px;
  position: relative;
}
.hashtag_span {
  font-family: "Dance";
  font-size: 35px;
  display: block;
  color: #dbb991;
}

.form {
  margin-top: 80px;
  position: relative;
  z-index: 10;
}
.form label {
  display: block;
  font-family: "Evolventa";
  margin-top: 15px;
}
.form input {
  font-family: "Evolventa";
  width: 100%;
  padding: 5px 0 5px 10px;
  border: 1px solid #dbb991;
}
.form button {
  padding: 5px 20px;
  border: 1px solid #dbb991;
  font-family: "Evolventa";
  margin-top: 20px;
}

.timer {
  margin-top: 80px;
  position: relative;
}
.timer .count-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 30px;
  margin-bottom: 25px;
  color: black;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}
.timer .big-text {
  font-size: 1.5rem;
  width: initial;
}
.timer .count-el span {
  font-size: 1rem;
  font-family: "Evolventa";
}

.contacts a {
  display: block;
  padding: 5px;
  border: 1px solid #dbb991;
  color: black;
}

.ps {
  margin-top: 80px;
  position: relative;
  margin-bottom: 100px;
}

.info {
  width: 100%;
  position: relative;
}

.rsvp-response {
  position: fixed;
  z-index: -100;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  padding: 50px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid #dbb991;
  opacity: 0;
  visibility: hidden;
}

.background {
  position: fixed;
  z-index: -100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
}

.preview {
  height: 100svh;
  position: relative;
  padding-top: 20px;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.preview .couple_img {
  max-width: 95%;
  max-height: 70%;
  width: auto;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 3px;
  margin: 0 auto;
  display: block;
}
.preview .wed-names {
  margin-top: 20px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  z-index: 10;
}
.preview .wed-names .groom_name {
  justify-self: flex-start;
}
.preview .wed-names .and {
  margin-top: -15px;
}
.preview .wed-names .bride_name {
  justify-self: flex-end;
}
.preview__leaf1 {
  position: absolute;
  bottom: -1rem;
  width: 230px;
  left: -5rem;
  z-index: -1;
}
.preview__leaf2 {
  position: absolute;
  top: 0rem;
  -webkit-transform: scaleY(-1) rotate(24deg);
          transform: scaleY(-1) rotate(24deg);
  width: 140px;
  right: -5rem;
  z-index: 1;
}

.info {
  opacity: 0;
}

.leaf01 {
  position: absolute;
  left: -7rem;
  width: 140px;
  bottom: 0;
  -webkit-transform: scaleX(-1) rotate(60deg);
          transform: scaleX(-1) rotate(60deg);
}

.leaf02 {
  position: absolute;
  width: 180px;
  right: -4.5rem;
  -webkit-transform: rotate("322deg") rotateX("312deg");
          transform: rotate("322deg") rotateX("312deg");
  top: 4rem;
}

.leaf03 {
  position: absolute;
  width: 180px;
  left: -4rem;
  bottom: -6rem;
  -webkit-transform: scaleX(-1) rotate(270deg);
          transform: scaleX(-1) rotate(270deg);
  z-index: -1;
}

.hashtag_span {
  color: #dbb991;
  font-size: 31px;
}

.leaf04 {
  position: absolute;
  width: 180px;
  z-index: -1;
  right: -3rem;
  bottom: -8rem;
}

.leaf05 {
  position: absolute;
  width: 150px;
  z-index: -5;
  right: -5rem;
  bottom: -2rem;
  -webkit-transform: rotate(117deg) scaleX(1.5);
          transform: rotate(117deg) scaleX(1.5);
}

.leaf06 {
  position: absolute;
  width: 180px;
  z-index: -11;
  top: 1rem;
  left: -5rem;
  -webkit-transform: scaleX(1.4);
          transform: scaleX(1.4);
}

.leaf07 {
  position: absolute;
  bottom: -7rem;
  right: -4rem;
  width: 200px;
  z-index: -1;
}

.leaf08 {
  position: absolute;
  width: 220px;
  bottom: -10rem;
  left: -4rem;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  z-index: -1;
}

@media screen and (min-width: 700px) {
  .wrapper {
    overflow: hidden;
    padding: 0 20px;
  }
  main {
    background-color: #1c1c1c;
    position: relative;
    z-index: 0;
  }
}